{% extends 'template.html.twig' %}

{% block blockBody %}
<div>
    <p>:wave:</p>
    <h1>{{ firstname }} {{ name }}</h1>
    <img src="{{ asset('assets/images/') ~ path | defaultImage}}" alt="image">
    <br>
    Je veux aller sur cet url absolue <a href="{{ url('first') }}" >ici</a>
</div>
{% endblock %}

{% block title %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block pageTitle %}
    Coucou
{% endblock %}